@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
::-webkit-scrollbar {
  display: none;
  /* make scrollbar transparent */
}
/* .screen{
    max-width: 414px;
    margin: 0 auto;
    border: 2px solid black;
    height: 100vh;
} */
.header {
  background-color: #128c7e;
  padding-top: 5px;
  color: white;
  position: relative;
}
.logo-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 1px solid red;
}
.so {
  display: flex;
}
.search {
  margin-right: 20px;
}
.fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  background-color: inherit;
  align-items: center;
  border: 1px solid purple;
  padding-top: 10px;
}

.nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.active {
  color: white;
}
.active::after {
  content: " ";
  background: white;
  height: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
}
.nav-link:hover::after {
  opacity: 1;
}
.e,
.r,
.t {
  width: 30%;
}
.camera {
  width: 10%;
}
.camera i {
  font-size: 1rem;
  vertical-align: bottom;
}